[submodule "home/.spf13-vim"]
    path = home/.spf13-vim
    url = git@github.com:diraol/spf13-vim.git
[submodule "home/.dircolors"]
    path = home/.dircolors
    url = git@github.com:diraol/ls-colors-solarized.git
[submodule "home/.oh-my-zsh"]
    path = home/.oh-my-zsh
    url = git@github.com:diraol/oh-my-zsh.git
[submodule "home/.oh-my-zsh-themes/powerline"]
    path = home/.oh-my-zsh-themes/powerline
    url = git@github.com:diraol/oh-my-zsh-powerline-theme.git
[submodule "home/.local/share/rhythmbox/plugins"]
	path = home/.local/share/rhythmbox/plugins
	url = git@github.com:diraol/rhythmbox-tray-icon.git
[submodule "home/.oh-my-zsh-themes/powerlevel9k"]
	path = home/.oh-my-zsh-themes/powerlevel9k
	url = git@github.com:diraol/powerlevel9k.git
[submodule "home/.fonts/awesome-terminal-fonts"]
	path = home/.fonts/awesome-terminal-fonts
	url = https://github.com/gabrielelana/awesome-terminal-fonts.git
[submodule "home/.awesome-terminal-fonts"]
	path = home/.awesome-terminal-fonts
	url = https://github.com/gabrielelana/awesome-terminal-fonts.git
