[submodule "home/.spf13-vim"]
    path = home/.spf13-vim
    url = git@github.com:diraol/spf13-vim.git
[submodule "home/.dircolors"]
	path = home/.dircolors
	url = https://github.com/sigurdga/ls-colors-solarized.git
