[user]
  name = Diego Rabatone Oliveira
  email = diego.rabatone@cabify.com
  # signingkey = 8E521D0F
[color]
  ui = auto
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[core]
  whitespace = indent-with-non-tab
  excludesfile = ~/.gitignore
  editor = vim
[github]
  user = diraol
[help]
  autocorrect = 20
[push]
  default = current
[receive]
  denyNonFastForwards = true
[branch]
  autosetuprebase = always
[status]
  submoduleSummary = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[remote]
  pushdefault = origin
[branch "master"]
  remote = upstream
[url "git@gitlab.otters.xyz:"]
  username = diego.rabatone
  insteadOf = https://gitlab.otters.xyz/
