[color]
  ui = auto
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[core]
  whitespace = indent-with-non-tab
  excludesfile = ~/.gitignore
  editor = vim
[github]
  user = diraol
[help]
  autocorrect = 20
[pull]
  rebase = true
[push]
  default = current
[rebase]
  autoStash = true
[receive]
  denyNonFastForwards = true
[branch]
  autosetuprebase = always
[status]
  submoduleSummary = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[remote]
  pushdefault = origin
[branch "master"]
  remote = upstream
[includeIf "gitdir:~/.EverVim/"]
  path = .diraol/gitconfig
[includeIf "gitdir:~/.vim/"]
  path = .diraol/gitconfig
[includeIf "gitdir:~/.homesick/"]
  path = .diraol/gitconfig
[includeIf "gitdir:~/devel/cabify/"]
  path = .cabify/gitconfig
[includeIf "gitdir:~/devel/easy/"]
  path = .cabify/gitconfig
[includeIf "gitdir:~/devel/personal/"]
  path = .diraol/gitconfig
