[Desktop Entry]
Name=CabiFox
Encoding=UTF-8
Comment=Firefox Cabify Profile
Exec=firefox -P cabify --class cabifox
Exec=sh -c 'MOZ_ENABLE_WAYLAND=1 firefox -P cabify --name cabifox --class cabifox'
StartupWMClass=cabifox
StartupNotify=true
Terminal=false
Type=Application
Icon=/home/diraol/.local/share/icons/cabifox.svg
Categories=Internet;
MimeType=application/x-iso9660-appimage;
