[Desktop Entry]
Name=Deezer
Encoding=UTF-8
Comment=Deezer Music
Exec=sh -c 'MOZ_ENABLE_WAYLAND=1 firefox -P deezer --name deezer --class deezer'
StartupWMClass=deezer
StartupNotify=true
Terminal=false
Type=Application
Icon=/home/diraol/.local/share/icons/deezer.svg
Categories=Internet;
MimeType=application/x-iso9660-appimage;
