[Desktop Entry]
Name=Deezer
Encoding=UTF-8
Comment=Deezer Music
Exec=firefox -P deezer --class Deezer
StartupWMClass=Deezer
StartupNotify=true
Terminal=false
Type=Application
Icon=/home/diraol/.local/share/icons/deezer.svg
Categories=Internet;
MimeType=application/x-iso9660-appimage;
