[Desktop Entry]
Name=Puc Minas
Encoding=UTF-8
Comment=Firefox Puc Minas Profile
Exec=sh -c 'MOZ_ENABLE_WAYLAND=1 firefox -P pucminas --name pucminas --class pucminas'
StartupWMClass=pucminas
StartupNotify=true
Terminal=false
Type=Application
Icon=/home/diraol/.local/share/icons/pucminas.svg
Categories=Internet;
MimeType=application/x-iso9660-appimage;
