[Desktop Entry]
Name=Scanner
Encoding=UTF-8
Comment=Canon network scanner
Exec=scangearmp2
StartupWMClass=canon-scanner
StartupNotify=true
Terminal=false
Type=Application
Icon=/home/diraol/.local/share/icons/scanner.svg
Categories=Accessories;
MimeType=application/x-iso9660-appimage;
